
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <input name="Todo"/>
    <input type="submit" value="Save"/>
    <button>Save</button>

</form>
 
@Html.ActionLink("Cancel", "Index")
